
* {
    color: #000;
    text-decoration: none;
}

#gomypage {
    position: fixed;
    left: 0;
    top: 16vh;
    width: 100%;
    border-bottom: solid;
    background-color: #fff;
    opacity: 50%;
    padding: 5px;
}

main {
    position: relative;
    top: 100px;
}

.situation {
    background-color: #c8fac8;
    width: 500px;
    padding: 15px;
    margin: 20px;
    border-radius: 20px;
    line-height: 18px;
}
.info{
    font-size: 12px;
}
h2{
    text-align: center;
}