/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Shippori+Mincho&family=Zen+Kaku+Gothic+New&display=swap');

/* ***********使えるフォント************* */
/* 
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Shippori Mincho', serif;
font-family: 'Zen Kaku Gothic New', sans-serif;
 */


/* 全て */
* {
color: rgb(55, 55, 55);
font-family: 'Zen Kaku Gothic New', sans-serif;

}



a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.headerimg {
  width: 50px;
}

.cart-img{
  width: 50px;
  height: 50px;
}

.icon{
  margin-right: 20px;
}

footer {
  bottom: 0;
  text-align: center;
  color: rgb(57, 57, 57);
  width: 100%;
}







.attention{
  color: red;
  font-size: 20px;
  font-weight: 700;
}

#regist div p{
  margin: 0;
  text-align: left;
}

#regist div input{
  margin-bottom: 10px;
  text-align: left;
}














.box{
  /* ニューモーフィズム */
  background: #f7f7f7;
  box-shadow: 4px 4px 8px #d9d9d9, -4px -4px 8px #ffffff;
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
  width: 60vw;
}
