
header{
    width: 100%;
    position: absolute;
    top: 0;
}
main{
    display: flex;
    /* border: 1px solid; */
    padding: 20px;
    position: relative;
    top: 150px;
    width: 100%;
    height: 100%;
}
main div{
    width: 100%;
}
#wrap{
    height: 100%;
    width: 100%;
    display: flex;
}
header nav{
    height: 100px;
}
#itemimg{
    float: left;
}
#iteminfo{
    position: relative;
    right: -500px;
    top: -800px;
    display: block;
}
#review{
    float: left;
}
#gomenu {
    width: 100%;
    border-bottom: solid;
    background-color: #fff;
    opacity: 50%;
    padding: 5px;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100;
}
#box{
    position: relative;
    left: 0;
    justify-content: left;
}
#piece_img{
    width: 350px;
    padding: 10px;
}
#meal_genre,ul{
    display: flex;
}
h2{
    font-size: 30px;
}
table{
    border-bottom: 1px solid;
}