/* 
header{
    width: 100%;
    position: absolute;
    top: 0;
} */

main div{
    width: 100%;
}
#wrap{
    height: 100%;
    width: 100%;
    display: flex;
}
header nav{
    height: 100px;
}


header label img{

    width:30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

#itemimg{
    float: left;
}

#review{
    float: left;
}

#box{
    position: relative;
    left: 0;
    justify-content: left;
}
#piece_img{
    width: 350px;
    padding: 10px;
}
#meal_genre,ul{
    display: flex;
}
h2{
    font-size: 30px;
}
table{
    border-bottom: 1px solid;
}
#go_review{
    padding: 3px;
    background-color: #bbb;
    line-height: 400%;
}