/* 
header{
    width: 100%;
    position: absolute;
    top: 0;
} */

main div{
    width: 100%;
}

.row{
    /* justify-content: center; */
    margin: 0 auto;
    max-width: 900px;
    /* height: 100%; */
}

#wrap{
    height: 100%;
    width: 100%;
    display: flex;
}
header nav{
    height: 100px;
}


header label img{

    width:30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

#itemimg{
    float: left;
}

#review{
    float: left;
}

#box{
    position: relative;
    left: 0;
    justify-content: left;
}
.item-image{
    width: 350px;
    /* padding: 10px; */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.39);
}


.genre{
    display: flex;
}
h2{
    font-size: 30px;
}
table{
    border-bottom: 1px solid;
}
#go_review{
    padding: 3px;
    background-color: #bbb;
    line-height: 400%;
}

.Review-column {
    max-height: 500px;
    /* border: #5e5e5e solid 1px; */
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.171);
    overflow-y: scroll;
    overflow-x: hidden;
  }


/* =================================== */



/* カート画面へ行くボタン */
.go-cart {
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    background-color: #acb200;
    transition: all 0.3s;
    display: inline-block;
    padding: 10px 20px;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .go-cart:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
    background-color: #f8f821e7;
    color: #5e5e5e;
  }
  
  .go-cart:active {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    background-color: #d0d0d0;
  }
  
  /* カートに入れるボタン */
  .into-cart {
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    background-color: #008c82;
    transition: all 0.3s;
    display: inline-block;
    padding: 10px 20px;
    color: #f7f7f7;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .into-cart:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
    background-color: #00dacb;
    color: #5e5e5e;
  }
  
  .into-cart:active {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
    background-color: #d0d0d0;
  }
  



  /* ====================================== */




  th{
    width: 100px;
    text-align: left;
    /* border-bottom: 1px solid; */
    text-align: center;
  }

  td{
    text-align: center;
  }


  .Subheading{
    font-weight: bold;
  }




  /* =============== */



  /* rebyu-wokakubotann */
    .review-btn {
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid #ccc;
        background-color: #002faf;
        transition: all 0.3s;
        display: inline-block;
        padding: 10px 20px;
        color: #f7f7f7;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }
      
      .review-btn:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
        background-color: #96d5ff;
        color: #5e5e5e;
      }
      
      .review-btn:active {
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
        background-color: #d0d0d0;
      }