th {
  display: flexbox;
  width: 500px;
  height: 30px;
  border-bottom: #ccc 1px solid;
}

th:nth-child(2) {
  display: block;
  width: 8vw;
  height: 30px;
  border-left: #ccc 1px solid;
}

td:nth-child(2) {
  display: block;
  text-align: center;
  width: 50px;
  color: rgb(255, 0, 0);
  /* ボタンデザイン */
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}
