tr{
    border: 1px solid;
    padding: 10px;
}
tr td{
    padding: 5px;
}
/* #box{
    border: 1px solid;
    padding: 10px;
    position: relative;
    top: 1300px;
    height: 100%;
} */
/* header{
    width: 100%;
    position: absolute;
    top: 0;
} */
/* main{
    display: flex;
    width: 100%;
    padding: 20px;
    height: 100%;
} */
/* header nav{
    height: 100px;
} */
#menu_img{
    height: 100px;
    padding: 5px;
}
/* .headerimg {
    width: 50px;
} */