





/* *************３つの選択*************** */
.record{
    width: 100%;
    height: 100%;
    background-image: url(../site/images/record.jpg);
    /* site\images\record.png */
    position: relative;
    top: 0px;
    left: 0px;
    /* z-index: 1; */
}
.manage{
    width: 100%;
    height: 100%;
    background-image: image();
    position: relative;
    top: 0px;
    left: 0px;
    /* z-index: 1; */
}
.analysis{
    width: 100%;
    height: 100%;
    background-image: image();
    position: relative;
    top: 0px;
    left: 0px;
    /* z-index: 1; */
}

/* ************************ */

.menuChar {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    font-size: 80px;
    /* opacity: 0.5; */
  }
  

  .menuImg{
    filter: blur(5px);
  }