
header{
    width: 100%;
    position: absolute;
    top: 0;
}
main{
    display: flex;
    padding: 50px;
    /* border: 1px solid; */
    padding: 10px;
    position: relative;
    top: 100px;
    width: 100vh;
    height: 100%;
}
#gomenu {
    width: 100%;
    border-bottom: solid;
    background-color: #fff;
    opacity: 50%;
    padding: 5px;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100;
}
#review{
    display: block;
    border: 1px solid;
    padding: 10px;
    width: 100%;
}
#page{
    display: flex;
}
#iteminfo{
    padding: 20px;
    display: block;
}
#piece_img{
    height: 90px;
}